.container {
  display: flex;
  justify-content: center;
}

.testimonialsContainer {
  width: 40%;
}

.clientsAvatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonials {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.clientReview {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0.8rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

/*=============== MEDIA QUERIES(Medium devices) ===========*/

@media screen and (max-width: 1024px) {
  .testimonialsContainer {
    width: 60%;
  }
}

/*=============== MEDIA QUERIES(small devices) ===========*/

@media screen and (max-width: 600px) {
  .testimonialsContainer {
    width: var(--container-width-sm);
  }

  .clientReview {
    width: var(--container-width-sm);
  }
}
